<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div class="container-fluid offset1">
        <header class="navbar">
        	{% block header %}{% endblock %}
        </header>
        <div class="row-fluid">
        	<div>{% block menus %}{% endblock %}</div>
        	<div>{% block panels %}{% endblock %}</div>
        </div>
        <footer>{% block footer %}{% endblock %}</footer>
     </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>