<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/user/css/bootstrap.min.css') }}" type="text/css" /> 
    	<script src="{{ asset('bundles/user/js/jquery-1.8.3.js') }}" type="text/javascript"></script>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="container">
    	<header>
	    	{% block header %}
	    		{% include '::header.html.twig' %}
	    	{% endblock %}
    	</header>
			{% block body %}{% endblock %}
        <footer class="container navbar-fixed-bottom">
	        {% block footer %}
	        	{% include '::footer.html.twig' %}
	        {% endblock %}
        </footer>
        {% block javascripts %}{% endblock %}
		<script src="{{ asset('bundles/user/js/bootstrap.min.js') }}" type="text/javascript"></script>
    </body>
</html>