<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/user/css/bootstrap.min.css') }}" type="text/css" /> 
    	<script src="{{ asset('bundles/user/js/jquery-1.8.3.js') }}" type="text/javascript"></script>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
		{% block body %}{% endblock %}
        <footer>{% block footer %}{% endblock %}</footer>
        {% block javascripts %}{% endblock %}
		<script src="{{ asset('bundles/user/js/bootstrap.min.js') }}" type="text/javascript"></script>
    </body>
</html>