{% extends '::base.html.twig' %}

{% block title %}EdukaGames{% endblock %}

{% block body %}
<div>
  	{% if error %}
        <div id="loginError" class="alert alert-error">{{ error.message }}</div>
    {% endif %}
    
    <form class="form-loggin" action="{{ path("login_check") }}" method="post" id="login">
        <div>
            <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Usuario"/>
        </div>
        <div>
            <input type="password" id="password" name="_password" placeholder="Contraseña"/>
        </div>

        <input type="submit" class="symfony-button-grey" value="Loggin" />
    </form>
</div>
{% endblock %}
