<div class="accordion container span4" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle"  href="#"> <!-- data-toggle="collapse" data-parent="#accordion2"> -->
        Juegos - Link directo a juegos
      </a>
    </div>
</div>
{% if is_granted('ROLE_ADMIN') %}
  	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
			Gestion de juegos
	      	</a>
	    </div>
	    <div id="collapseTwo" class="accordion-body collapse">
			<div class="accordion-inner">
			las opciones
			</div>
	    </div>
  	</div>
  	<div class="accordion-group">
    	<div class="accordion-heading">
      		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#admin">
			Gestion de administradores
      		</a>
    	</div>
    	<div id="admin" class="accordion-body collapse">
      		<div class="accordion-inner">
			<a id="new" href="{{ path('profesor') }}">Lista de administradores</a>
      		</div>
      		<div class="accordion-inner">
			<i class="icon-plus"></i> <a id="new" href="{{ path('profesor_new') }}">Crear Administrador</a>
      		</div>
   	 	</div>
  	</div>
  	<div class="accordion-group">
    	<div class="accordion-heading">
      		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        	Gestion de alumnos
      		</a>
    	</div>
    	<div id="collapseThree" class="accordion-body collapse">
      		<div class="accordion-inner">
        		<i class="icon-plus"></i> <a id="new" href="{{ path('alumno_new') }}">Crear alumno</a>
      		</div>
      		<div class="accordion-inner">
				{% render('UserBundle:Alumno:search') %}	      
      		</div>
    	</div>
  	</div>
{% endif %}
</div>
{# <script type="text/javascript">#}
{# $('#new').click(function () {#}
{# 	$('#content').load("{{ path('alumno_new') }}");#}
{# });#}
{# </script>#}
