<h1>Archivos</h1>
<table class="records_list">
    <thead>
        <tr>
            <th>Archivo</th>
            <th>Fecha</th>
            <th>Informe</th>
        </tr>
    </thead>
    <tbody>
    {% for archivo in archivos %}
        <tr>
        
            <td>{{ archivo.archivo }}</td>
            <td>{{ archivo.fecha }}</td>
            <td>{{ archivo.informe }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

