{% extends '::index.html.twig' %}

{% block content %}
<h1>Nuevo Administrador</h1>

<form action="{{ path('profesor_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Crear</button>
    </p>
</form>
{% endblock %}