{% extends "::index.html.twig" %}

{% block content %}

<h2>{{ entity.nombreCompleto }}</h2>
<div>
    <ul id="tab" class="nav nav-tabs">
        <li class="active">
            <a href="#tab1" data-toggle="tab">Datos</a>
        </li>
        <li>
            <a href="#tab2" data-toggle="tab">Informes</a>
        </li>
        <li>
            <a href="#tab3" data-toggle="tab">Puntuaciones</a>
        </li>
        <li>
            <a href="#tab4" data-toggle="tab">Graficas</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1">
            {% render "UserBundle:Alumno:show" with {'id' : entity.id} %}          
        </div>
        <div class="tab-pane fade" id="tab2">
			{% render "AdminBundle:Informe:index" with {'id' : entity.id, 'count': -1 } %}
        </div>
        <div class="tab-pane fade" id="tab3">
            {% render "AdminBundle:Puntuaciones:show" with {'id' : entity.id} %}
        </div>
        <div class="tab-pane fade" id="tab4">
            usar highchartsPHP -> https://github.com/ghunti/HighchartsPHP
        </div>
    </div>
</div>
{% endblock %}