
	<table class = "table table-striped table-condensed" cellspacing="0">
		<thead>
			<tr>
				<th>Juego</th>
				<th>Dificultad</th>
				<th>Fecha</th>
				{# <th>Puntos</th> #}
			</tr>
		</thead>
		<tbody>
		{% for last in lasts %}
			<tr>
			
				<td>{{ last.Juego.nombre }}</td>
				<td>{{ last.Dificultad }}</td>
				<td>{{ last.Fecha | date("d/m/Y") }}</td>
				{# <td>{{ last.Puntos }}</td> #}
			
			</tr>
			{% endfor %}
		</tbody>
	</table>
